<h1>Super Fun Places To Explore</h1>
<br>
<%= form_tag places_path, :method => :get do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", label: false, placeholder: "Search near..." %>
    <span class="input-group-btn">
      <%= submit_tag "Go!", :name => nil, class: "btn btn-default" %>
     </span>
   </div>
<% end %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place %></td>
        <td><%= place.address %></td>
        <td><%= place.website %></td>
        <td><%= place.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Place', new_place_path %>
<% end %>