<div class="row">
  <div class="col-md-6">
    <h3><%= @place.name %></h3>

    <% if @place.user == current_user %>
      <p><small>
        <%= link_to 'Edit', edit_place_path(@place) %> |
        <%= link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure?' } %> 
      </small></p>
    <% end %>

    <p><strong>Address</strong>
      <%= @place.address %>
    </p>
    <p><strong>Phone</strong>
      <%= @place.phone %>
    </p>
    <p><strong>Website</strong>
      <%= @place.website %>
    </p>
    <p><strong>Description</strong>
      <%= @place.description %>
    </p>
    <div id="map-canvas" style="width: 460px; height: 460px;"></div>
  </div>

  <div class="col-md-6">
    <h3>Reviews by People</h3>
    <% if current_user %>
      <h5>New Review</h5>
      <%= render "reviews/form" %>
      <h5>All Reviews</h5>
      <%= render @reviews %>

    <% else %>
      <p><%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to check out what people are saying about their favorite places.</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Nearby Places</h3>
    <ul style="list-style-type: none;">
      <% for place in @place.nearbys(5) %>
        <li><%= link_to place.name, place %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Nearby Events</h3>
  </div>
</div>

 <script type="text/javascript">
      function initialize() {
        var myCenter = {
          lat: <%= @place.latitude %>, 
          lng: <%= @place.longitude %>
        }
        var mapOptions = {
          center: myCenter,
          zoom: 15
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
          position: myCenter, 
          map: map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
